*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-cont{

    width:100vw;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-cont{
    width: 35%;
    height: 55%;
    padding:15px;
    border-radius: 10px;
    background-color: lightblue;



}
.img-cont{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.web-logo{
    width:150px;
}